.affiliations.list(itemprop='affiliations')
  h4(itemprop='contentType') Organizations
  .disclaimer
    | Groups i am proud to be a part of.
  ul
    li(
      itemprop='memberOf'
      itemscope 
      itemtype='http://schema.org/Organization'
    )
      header
        h5
          a(
            href='https://bwb.is'
            target='bwb' 
            itemprop='legalName'
          ) Bitcoiners Without Borders
      .content
        a(
          href='https://bwb.is'
          target='bwb'
          itemprop='url'
        )
          img(
            itemprop='logo'
            src='/img/bwb.png'
            alt='Bitcoiners Without Borders'
          )
        .description(itemprop='description') 
          | We are a tribe of individuals tired of the destructive trip,
          | workin' on a better Day.

    li(
      itemprop='memberOf'
      itemscope
      itemtype='http://schema.org/Organization'
    )
      header
        h5
          a(
            href='https://metalab.at'
            target='utopia'
            itemprop='legalName'
          ) Metalab

      .content
        a(
          href='https://metalab.at'
          target='utopia'
          itemprop='url'
        )
          img(
            itemprop='logo'
            src='/img/metalab.png'
            alt='metalab.at'
          )
        .description(
          itemprop='description'
        ) 
          | The Metalab is 
          s the
          |  a 
          a(
            itemprop='' 
            href='http://hackerspaces.org/wiki/'
          ) Hackspace
          |  in 
          span(
            itemprop='contactPoint'
          ) Vienna.
          |  Chances are high that i am sitting in the 
          span Metalab Lounge
          |  at this moment, 
          | which means that i am at the exact position of the orange dot you can see on  
          a(
            href='http://www.openstreetmap.org/node/254344537' 
            target='utopia'
            itemprop='contactPoint'
          ) Openstreetmap
