.projects.list
    header 
      h4(itemprop='contentType') Projects:
    .disclaimer
      | Those are the projects i worked on and want to endorse.
    ul
      li(
        itemprop='brand'
        itemscope
        itemtype='http://schema.org/Product'
      )
        header
          h5
            a(
              href='http://magicshifter.net'
              target='_blank'
              itemprop='legalName'
            ) MagicShifter - the Open Source Magic Lamp!

        .content
          a(
            href='http://magicshifter.net'
            target='_blank'
            itemprop='url'
          )
            img(
              itemprop='image' 
              src='/img/magicshifter-logo.png' 
              alt='magicshifter.net'
            )

          .description(
            itemprop='description' 
            itemscope itemtype='http://schema.org/Organisation'
          ) 
            | An open source hardware gadget for lighting, gaming,
            | and persistence of vision applications.
            | Charge and reprogram it over usb!
            | Get one of the limited first batch
            span(itemprop='affiliate')
              a(
                itemprop='url'
                target='hackerspaceshop'
                href='http://www.hackerspaceshop.com/magicshifter.html' 
              ) 
                span(itemprop='legalName') @hackerspaceshop
            
            |.  The MagicShifter was created by 
            a.person(
              itemprop='colleague' 
              href='https://metalab.at/wiki/Benutzer:Wizard23' 
              target='wizard23'
            ) Philipp Tiefenbacher
            | .
            .testimonial 
              | Every sufficiently advanced technology is indistinguishable from a MagicShifter
              p.author Arthur C. Clarke, Proud Owner

      li(itemprop='brand' itemscope itemtype='http://schema.org/Product')
        header
          h5
            a(
              itemprop='legalName' 
              href='https://github.com/metalab/screeninvader' 
              target='utopia'
            ) Screeninvader

        .content
          a(
            itemprop='url' 
            href='https://github.com/metalab/screeninvader' 
            target='utopia' 
          )
            img(
              itemprop='image' 
              src='/img/screeninvader-logo.png' 
              alt='Screeninvader'
            )

          .description(itemprop='description')
            | Ever wished you could play media content from your device on any screen or projector in just an instant? This is what ScreenInvader helps you do. Most of the hard work was done by
            span(itemprop='colleague')
              a.person(
                itemscope='url' 
                href='http://viel-zu.org' 
                target='kallaballa'
              ) 
                span(itemprop='name') Amir Hassan

              | . Check out his 
              a(
                href='https://github.com/kallaballa?tab=repositories' 
                target='_blank'
              ) github
              |  to see a heap of his ingeniously crazy projects.
