.social(itemprop='social')
  .emails.list
    header(itemprop='contentType') Emails:
    ul
      li(itemprop='contactPoint')
        a(
          itemprop='email'
          href='mailto://jascha@jaeh.at'
        ) jascha@jaeh.at

      li(itemprop='contactPoint')
        a(
          itemprop='email'
          href='mailto://jascha@bwb.is'
        ) jascha@bwb.is

  .networks.list
    header(itemprop='contentType') Networks:
    ul
      li(itemprop='contactPoint')
        a(
          itemprop='url'
          target='_blank'
          href='https://github.com/jaeh'
        )
          img(
            itemprop='logo'
            src='/img/social/github.png'
            alt='home of the octocat'
            title='home of the octocat'
          )

      li(itemprop='contactPoint')
        a(
          itemprop='url'
          target='_blank'
          href='https://keybase.io/jascha'
        )
          img(
            itemprop='logo'
            src='/img/social/keybase.png'
            alt='keybase.io'
            title='my keybase.io profile'
          )

      li(itemprop='contactPoint')
        a(
          itemprop='url'
          target='_blank'
          href='https://twitter.com/weirdpress'
        )
          img(
            itemprop='logo'
            src='/img/social/twitter.png'
            alt='twitter: @weirdpress'
            title='my twitter account'
          )

      li(itemprop='contactPoint')
        a(
          itemprop='url'
          target='_blank'
          href='https://about.me/jascha.ehrenreich'
        )
          img(
            itemprop='logo'
            src='/img/social/aboutme.png'
            alt='about.me'
            title='my about.me page'
          )

      li(itemprop='contactPoint')
        a(
          itemprop='url'
          target='_blank'
          href='https://suppe.jaeh.at'
        )
          img(
            itemprop='logo'
            src='/img/social/soup.png'
            alt='suppe. ja. eh.'
            title='soup (german: die suppe) is a social blogging network.'
          )

      li(itemprop='contactPoint')
        a(
          itemprop='url'
          target='_blank'
          href='https://at.linkedin.com/in/jaschaehrenreich'
        )
          img(
            itemprop='logo'
            src='/img/social/linkedin.png'
            alt='linkedin'
            title='linkedin'
          )

      li(itemprop='contactPoint')
        a(
          itemprop='url'
          target='_blank'
          href='https://facebook.com/jascha.ehrenreich'
        )
          img(
            itemprop='logo'
            src='/img/social/facebook.png'
            alt='facebook'
            title='it is the kraken.'
          )
